{% extends "base.html" %}
{% block title %} 信息添加 {% endblock %} 

{% block navtitle %}
<b>信息添加</b>
{% endblock %}

{% block body %} 
    <div>
            <ol class="breadcrumb">
                <li><a href="{{ url_for('.home') }}">首页</a></li>       
                <li><a href="#">教师登录</a></li>
                <li class="active"><b>信息添加</b></li>       
            </ol> 
        </div>

    <!-- Three columns of text below the carousel -->
    <div class="teaselect">
            <div class="row">
                    <div class="col-lg-6">
                        <p style="text-align: center;"><img class="img-circle" src="{{ url_for('static',  filename='./img/课程.png')}}" alt="Generic placeholder image" width="140" height="140" ></p>
                        <h2 style="text-align: center;">个别学生添加</h2><br/>
                        <p style="text-align: center;">按个人为单位添加自己所教授的学生信息.</p><br/>
                        <p style="text-align: center;"><a class="btn btn-default" href="#" role="button">&nbsp;&nbsp;<b>添加课程</b>&nbsp; »&nbsp;&nbsp;</a></p>
                    </div><!-- /.col-lg-6 -->
                    <div class="col-lg-6">
                        <p style="text-align: center;"><img class="img-circle" src="{{ url_for('static',  filename='./img/学生管理.png')}}" alt="Generic placeholder image" width="140" height="140"></p>
                        <h2 style="text-align: center;">批量导入</h2><br/>
                        <p style="text-align: center;">按步骤批量添加自己所教授的学生信息.</p><br/>
                        <p style="text-align: center;"><a id="PL" class="btn btn-default" href="#" role="button">&nbsp;&nbsp;<b>添加学生</b>&nbsp; »&nbsp;&nbsp;</a></p>
                        <div class="modal" id="mymodal">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
		                                <button type="button" class="close" data-dismiss="modal" data-toggle="modal" data-target="#mymodal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				                        <h4 class="modal-title">导入学生名单</h4>
			                        </div>
			                        <div class="modal-body">
                                        <h3 style="text-align: center;">请下载模板填写好后上传:&nbsp;&nbsp;&nbsp;&nbsp;<button type="button" class="btn btn-info">下载模板</button> </h3>
                                        <br/>
                                        <br/>
                                        <p style="text-align: center;"><input type="file"></p>
			                        </div>
			                        <div class="modal-footer">
				                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
				                        <button type="button" class="btn btn-primary">保存</button>
			                        </div>
		                        </div><!-- /.modal-content -->
	                        </div><!-- /.modal-dialog -->
                        </div><!-- /.modal -->  
                    </div><!-- /.col-lg-6 -->
            </div><!-- /.row -->
    </div>
    {% endblock %}

    {% block js %}
    <script>
        $(function(){
          $("#PL").click(function(){
            $("#mymodal").css('display','block'); 
          });
        });
    </script>

    {% endblock %}