{% extends "base.html" %}
{% block title %} 添加 {% endblock %} 

{% block navtitle %}
<b>单个学生添加</b>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">
{% endblock %}

{% block body %} 

    <div>
        <ol class="breadcrumb">
            <li><a href="{{ url_for('.home') }}">首页</a></li>       
            <li><a href="#">教师登录</a></li>
            <li><a href="#">添加信息</a></li>
            <li class="active"><b>单个学生添加</b></li>       
        </ol> 
    </div>

    <div class="teaselect">
         <div class="container">
            <h2 class="form-submition-heading" style="text-align: center">添加学生信息</h2>
            <br/><br/>
            <form role="form">
                <div class="form-group">
                    <select id="usertype" name="usertype" class="selectpicker form-control" multiple data-live-search="true" data-max-options="1" title="选择课程名称">                                                      
                        <option value="1">数据库</option> 
                        <option value="2">计算机网络</option> 
                        <option value="3">操作系统</option> 
                        <option value="4">计算机组织与结构</option> 
                        <option value="5">面向对象程序设计</option> 
                    </select>
                </div>
                <label for="inputstuname" class="sr-only"></label>
                <input type="text" id="inputstuname" class="form-control" placeholder="填写学生学号" required="" autofocus="">
                <br/><br/><br/><br/>
                <button class="btn btn-lg btn-primary btn-block" type="submit">添加</button>
                </form>
            </div>
    </div>
{% endblock %}  
    
{% block js %}
<!-- Latest compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/js/bootstrap-select.min.js"></script>
<script>
    $(window).on('load', function () {
        $('#usertype').selectpicker({
            'selectedText': 'cat'
        });
    });
</script>

{% endblock %}
 
 