{% extends "base.html" %}
{% block title %} 教师  {% endblock %} 

{% block navtitle %}
<b>报告提交系统</b>
{% endblock %}

{% block body %} 

    <div class="teaselect">
            <div class="row">
                    <div class="col-lg-4">
                        <img class="img-circle" src="{{ url_for('static',  filename='./img/课程表.png')}}" alt="Generic placeholder image" width="140" height="140">
                        <h2>信息添加</h2>
                        <p>按步骤添加自己所教授的实验课程信息，并导入学生信息.<br/>系统提供课程提醒功能方便教师安排课程.</p>
                        <p><a class="btn btn-default" href="#" role="button"><b>View details »</b></a></p>
                    </div><!-- /.col-lg-4 -->
                    <div class="col-lg-4">
                        <img class="img-circle" src="{{ url_for('static',  filename='./img作业.png')}}" alt="Generic placeholder image" width="140" height="140">
                        <h2>报告管理</h2>
                        <p>教师可以发布报告任务，发布后可以继续查看报告的提交情况.<br/>在查看玩报告后可以对报告做出评论.</p>
                        <p><a class="btn btn-default" href="#" role="button"><b>View details »</b></a></p>
                    </div><!-- /.col-lg-4 -->
                    <div class="col-lg-4">
                        <img class="img-circle" src="{{ url_for('static',  filename='./img/评价.png')}}" alt="Generic placeholder image" width="140" height="140">
                        <h2>学生评价</h2>
                        <p>在所教授的一门课程结束后，教师需要根据学生的的课上表现与报告质量给出合适的成绩。教师可以管理所有教授过课程的成绩.</p>
                        <p><a class="btn btn-default" href="#" role="button"><b>View details »</b></a></p>
                    </div><!-- /.col-lg-4 -->
                </div><!-- /.row -->
    </div>

    {% endblock %}
    