<!DOCTYPE html>

<html lang="zh-CN">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../img/bitbug_favicon.ico">
    <title> 成绩 </title>

    <link href="../css/bootstrap.min.css" rel="stylesheet">

    <link href="../css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <link href="../css/stu_base.css" rel="stylesheet">

    <script src="../css/ie-emulation-modes-warning.js"></script>

 
  <style id="style-1-cropbar-clipper">
.en-markup-crop-options {
    top: 18px !important;
    left: 50% !important;
    margin-left: -100px !important;
    width: 200px !important;
    border: 2px rgba(255,255,255,.38) solid !important;
    border-radius: 4px !important;
}

.en-markup-crop-options div div:first-of-type {
    margin-left: 0px !important;
}
</style>
</head>

  <body>
    <nav class="navbar navbar-default navbar-fixed-top navbar-right" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <img alt="Brand" src="../img/logo_noBG_green.png"  width="49" height="49">
                <a class="navbar-brand" href="#"><b>课程成绩</b></a>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav  navbar-right">
                  <li class="active"><a href="./student.html"><b>首页</b></a></li>
                  <li><a href="../index.html"><b>注销登陆</b></a></li>
                  <li><a href="#"><b>问题反馈</b></a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>
    <div>
        <ol class="breadcrumb">
            <li><a href="../index.html">首页</a></li>       
            <li><a href="./student.html">学生</a></li>
            <li class="active"><b>课程成绩</b></li>       
        </ol> 
    </div>

    <!-- Three columns of text below the carousel -->
    <div class="stuscore">
        <div class="innercover">
            <h1 class="cover-heading" style="text-align: center;padding-bottom:50px;">课程成绩</h1>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered table-hover table-striped">
                <thead>
                    <tr>
                        <th>课程名称</th>
                        <th>课程教师</th>
                        <th>课程成绩</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>数据库</th>
                        <th>张宝宇</th>
                        <th>A+</th>
                    </tr>
                    <tr>
                        <th>数据库</th>
                        <th>张宝宇</th>
                        <th>A+</th>
                    </tr>
                </tbody>

            </table>
        </div>
        <div>
            <!--左右对齐-->
            <ul class="pager">
                <li class="previous"><a href="#">&laquo;上一页</a></li>
                <li class="next"><a href="#">下一页&raquo;</a></li>     
            </ul>         
        </div>
    </div>
    
    

     <!--Footer-begin-->
  <footer class="footer">
        <div class="container">
          <div class="footer-logo">
            <a href="">
              <img src="../img/logo_noBG_green.png" alt="" width="75" height="75">
            </a>
          </div>
          <span class="copyright">zhangbaoyu218@gmail.com</span>
          <div class="credits">
          </div>
        </div>
      </footer>
      <!--Footer-end-->
    
    
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../new/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../new/bootstrap.min.js"></script>

    <script src="../new/ie10-viewport-bug-workaround.js"></script>
  

</body></html>