<!DOCTYPE html>

<html lang="zh-CN">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->

    <title> base </title>

    <link href="./new/bootstrap.min.css" rel="stylesheet">

    <link href="./new/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <link href="./new/22.css" rel="stylesheet">

    <script src="./new/ie-emulation-modes-warning.js"></script>

 
  <style id="style-1-cropbar-clipper">
.en-markup-crop-options {
    top: 18px !important;
    left: 50% !important;
    margin-left: -100px !important;
    width: 200px !important;
    border: 2px rgba(255,255,255,.38) solid !important;
    border-radius: 4px !important;
}

.en-markup-crop-options div div:first-of-type {
    margin-left: 0px !important;
}
</style>
</head>

  <body>
    <nav class="navbar navbar-default navbar-fixed-top navbar-right" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <img alt="Brand" src="./img/logosmall.png">
                <a class="navbar-brand" href="#"><b>报告提交系统</b><sapn style="font-size:15px">Student</sapn></a>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav  navbar-right">
                  <li class="active"><a href="#"><b>首页</b></a></li>
                  <li><a href="#"><b>注销登陆</b></a></li>
                  <li><a href="#"><b>问题反馈</b></a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>
    
    
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../new/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../new/bootstrap.min.js"></script>

    <script src="../new/ie10-viewport-bug-workaround.js"></script>
  

</body></html>