<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{{ url_for('static', filename='bitbug_favicon.ico')}}">
    <title>{% block title %}{% endblock %}</title>

    <link href="{{ url_for('static', filename='./css/bootstrap.min.css')}}" rel="stylesheet">

    <link href="{{ url_for('static', filename='./css/ie10-viewport-bug-workaround.css')}}" rel="stylesheet">
   
    <link href="{{ url_for('static', filename='./css/base.css')}}" rel="stylesheet">
   
    <link href="{{ url_for('static', filename='./css/teabase.css')}}" rel="stylesheet">

    {% block css %}{% endblock %}
    <script src="{{ url_for('static', filename='./js/ie-emulation-modes-warning.js')}}"></script>

 
  <style id="style-1-cropbar-clipper">
.en-markup-crop-options {
    top: 18px !important;
    left: 50% !important;
    margin-left: -100px !important;
    width: 200px !important;
    border: 2px rgba(255,255,255,.38) solid !important;
    border-radius: 4px !important;
}

.en-markup-crop-options div div:first-of-type {
    margin-left: 0px !important;
}
</style>
</head>

  <body>
    <nav class="navbar navbar-default navbar-fixed-top navbar-right" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <img alt="Brand" src="{{ url_for('static', filename='bitbug_favicon.ico')}}./img/logo_noBG_green.png"  width="49" height="49">
                <a class="navbar-brand" href="{{ url_for('.home') }}">{% block navtitle %}{% endblock %}</a>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav  navbar-right">
                  <li class="active"><a href="{{ url_for('.home') }}"><b>首页</b></a></li>
                  <li><a href="#"><b>注销登陆</b></a></li>
                  <li><a href="#"><b>问题反馈</b></a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>
    
    {%block body%}

    {% endblock %}
  
     <!--Footer-begin-->
  <footer class="footer">
        <div class="container">
          <div class="footer-logo">
            <a href="{{ url_for('.home') }}">
              <img src="{{ url_for('static', filename='./img/logo_noBG_green.png')}}" alt="" width="75" height="75">
            </a>
          </div>
          <span class="copyright">zhangbaoyu218@gmail.com</span>
          <div class="credits">
          </div>
        </div>
      </footer>
      <!--Footer-end-->
    
    
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ url_for('static', filename='./js/jquery.min.js')}}"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="{{ url_for('static', filename='./js/bootstrap.min.js')}}"></script>

    <script src="{{ url_for('static', filename='./js/ie10-viewport-bug-workaround.js')}}"></script>
    {% block js %}
    {% endblock %}

</body></html>