body {
    padding-top: 50px;
}
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
  color:#0BE3E2 !important;
  background: transparent !important; 
}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
  background: transparent;
  color:#0BE3E2  !important;
  border-bottom: 1px solid #0BE3E2  !important;
}
.navbar-default {
    background:url(../img/pw_maze_black_2X.png) left top repeat !important;
    border: 0 !important;
    border-bottom: 1px solid #1112222d !important;
  }
.navbar-default .navbar-nav > li > a {
    color:#bbb !important;
    padding: 10px 0px 5px !important;
    margin:4px 10px 0 !important;
}
.navbar-default .navbar-toggle {
    border-color: #555555 !important;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #333 !important;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: transparent !important;
}

.teaselect{
    margin: 100px 75px 100px 75px;
    padding: 15px;
}
.stuscore{
    margin: 50px 100px 100px 100px;
    padding: 15px;
}
.stusubm{
    margin: 100px 100px 200px 100px;
    padding: 15px;
}

.col-lg-4 {
    margin-bottom: 20px;
    text-align: center;
  }
  .marketing h2 {
    font-weight: normal;
  }
  .col-lg-4 p {
    margin-right: 10px;
    margin-left: 10px;
  }
/* Footer
---------------------------------*/

.footer{
	background:url(../img/pw_maze_black_2X.png) left top repeat;
	padding:15px 0 15px;
}
.footer-logo{
	margin:15px auto 35px;
    width: 100%;
    text-align: center;
}
.copyright, .credits{
	color:#cccccc;
	font-size:14px;
	display:block;
	text-align:center;
}
.copyright a, .credits a{
	color:#00a79d;
	font-weight:600;
	text-decoration: none;
	transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
}

.copyright a:hover, .credits a:hover {
	color: #fff;
}

.res-nav_click {
	line-height:38px;
	font-family: 'FontAwesome';
	font-size:38px;
	text-decoration: none !important;
	color:#777777;
	font-style:normal;
	display:none;
	width:42px;
	height:27px;
	margin:20px auto;
	transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
}

.navLogo:hover {
  background-image: url('img/48x48g.png');
	-moz-transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
}

.res-nav_click:hover, .res-nav_click:active, .res-nav_click:focus {
	color: #00a79d !important;
}

.portfolioContainer{
	max-width: 1140px;
}
