body {
    padding-top: 50px;
}

.left{
    background:pink;
    width:100px;
    float:left;
}

.right-fix{
    background:red;
    width:100%;
    margin-left:-100px;
    float:right;
}
.right{
    margin-left:100px;
}
