body {
    padding-top: 50px;
}
.starter-template {
    padding: 40px 15px;
    text-align: center;
}
.left{background:pink;width:100px;float:left;}
.right-fix{background:red;width:100%;margin-left:-100px;float:right;}
.right{margin-left:100px;}
