{% extends "base.html" %}
{% block title %} 
    成绩 {% endblock %} 

{% block navtitle %}
    <b>课程成绩</b>
{% endblock %}

{% block body %}
    <div>
        <ol class="breadcrumb">
            <li><a href="{{ url_for('.home') }}"><i>首页</i></a></li>       
            <li><a href="#"><i>学生登录</i></a></li>
            <li class="active"><b>课程成绩</b></li>       
        </ol> 
    </div>

    <!-- Three columns of text below the carousel -->
    <div class="stuscore">
        <div class="innercover">
            <h1 class="cover-heading" style="text-align: center;padding-bottom:50px;">课程成绩</h1>
        </div>
            <div class="table-responsive">
                <table class="table table-bordered table-hover table-striped">
                    <thead>
                        <tr>
                            <th>课程ID</th>
                            <th>学生ID</th>
                            <th>课程成绩</th>
                    </tr>
                </thead>
                <tbody>
                    {{% for score in scores.items %}}
                        <tr>
                            <th>{{% scores.crse_id %}}</th>
                            <th>{{% scores.stu_id %}}张宝宇</th>
                            <th>{{% scores.score %}}</th>
                        </tr>
                    {{% endfor %}}
                </tbody>
            </table>
        </div>
        <div>
            <!--左右对齐-->
            <ul class="pager">
                <li class="previous"><a href="#">&laquo;上一页</a></li>
                <li class="next"><a href="#">下一页&raquo;</a></li>     
            </ul>         
        </div>
    </div>
    
{% endblock %}