{% extends "base.html" %}
{% block title %} 任务 {% endblock %} 

{% block navtitle %}
    <b>新的任务</b>
{% endblock %}

{% block body %}
             
    <div>
        <ol class="breadcrumb">
            <li><a href="{{ url_for('.home') }}">首页</a></li>       
            <li><a href="#">学生登录</a></li>
            <li class="active"><b>新的任务</b></li>       
        </ol> 
    </div>

    <div class="teaselect">
        <h3 style="text-align: center;padding-bottom: 50px; color:#F95858;font-size:50px;">任务列表</h3>
        <div class="row">  
            {% for task in tasks.items %} 
            <div class="col-lg-1"></div>              
            <div class="col-lg-10">
                <div class="panel panel-primary">
                    <div class="panel-heading">{{ task.crse_name }}</div>
                    <div class="panel-body">
                            <p>{{ task.text }}</p>
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>编号</th>
                                    <th>名称</th>
                                    <th>发布日期</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{ task.id }}</td>
                                    <td>{{ task.crse_name }}</td>
                                    <td>{{ task.date }}</td>
                                </tr>
                            </tbody>
                        </table>    
                    </div>
                    <div class="panel-footer">发布人：张宝宇</div>
                </div>
            </div>
            <div class="col-lg-1">
                <p><a class="btn btn-primary" href="#" role="button" ><b>下载模板</b></a></p>
            </div>
        </div>
        {% endfor %}
{% endblock %}
    

